:root{
    /* GRADIENTS */
    --SoftViolet: hsl(273, 75%, 66%);
    --SoftBlue: hsl(240, 73%, 65%);
    /* TEXT */
    --VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --SoftRed: hsl(14, 88%, 65%);
    --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
    --DarkGrayishBlue: hsl(240, 6%, 50%);
    /* Divider */
    --LightGrayishBlue: hsl(240, 5%, 91%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:    'Kumbh Sans';
    font-size:      15;
    background-image: linear-gradient(
        0deg,
        hsl(240deg 73% 65%) 0%,
        hsl(244deg 73% 65%) 11%,
        hsl(247deg 73% 65%) 22%,
        hsl(251deg 74% 65%) 33%,
        hsl(255deg 74% 65%) 44%,
        hsl(258deg 74% 65%) 56%,
        hsl(262deg 74% 65%) 67%,
        hsl(266deg 75% 66%) 78%,
        hsl(270deg 75% 66%) 89%,
        hsl(273deg 75% 66%) 100%
); 
}

.card{
    background-color: #FFF;
    margin:12rem .5rem 1rem .5rem;
    border-radius: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    max-width: 90%;
    width: 90%;

}

.pic{
    position: relative;
    margin: 3rem 1rem;
    max-width: 375px;

}

.main__image{
    z-index:2;
    position: absolute;
    top:-235px;
    width: 90%;
    right:10px;
}

.shadow__image{
    z-index:1;
    position: absolute;
    width: 90%;
    top:-100px;
    right:10px;

}

h1{
    text-align: center;
    font-weight: 700;
}


@media only screen and (min-width: 900px) {
   .card{
    display:inline grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas: 
        "pic faqs"
         pic faqs;
   }

   .pic{
    grid-area: pic;
    margin: 3rem 1rem;
    max-width: 375px;
   }
   .faq{
    grid-area: faqs;
   }
   .main__image{
    width: 375px;
}
  }