:root{
    /* GRADIENTS */
    --SoftViolet: hsl(273, 75%, 66%);
    --SoftBlue: hsl(240, 73%, 65%);
    /* TEXT */
    --VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --SoftRed: hsl(14, 88%, 65%);
    --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
    --DarkGrayishBlue: hsl(240, 6%, 50%);
    /* Divider */
    --LightGrayishBlue: hsl(240, 5%, 91%);
}

body{
    font-family:    'Kumbh Sans';
    font-size:      15;
    
}

.container{
    background-image: linear-gradient(
        0deg,
        hsl(240deg 73% 65%) 0%,
        hsl(244deg 73% 65%) 11%,
        hsl(247deg 73% 65%) 22%,
        hsl(251deg 74% 65%) 33%,
        hsl(255deg 74% 65%) 44%,
        hsl(258deg 74% 65%) 56%,
        hsl(262deg 74% 65%) 67%,
        hsl(266deg 75% 66%) 78%,
        hsl(270deg 75% 66%) 89%,
        hsl(273deg 75% 66%) 100%
);

height: 100%;
margin:0;
padding:3rem;

}

.card{
    background-color: #FFF;
    margin:3rem;
    border-radius: 1rem;
    padding: 3rem;
}