:root{
    /* GRADIENTS */
    --SoftViolet: hsl(273, 75%, 66%);
    --SoftBlue: hsl(240, 73%, 65%);
    /* TEXT */
    --VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --SoftRed: hsl(14, 88%, 65%);
    --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
    --DarkGrayishBlue: hsl(240, 6%, 50%);
    /* Divider */
    --LightGrayishBlue: hsl(240, 5%, 91%);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:    'Kumbh Sans';
    font-size:      15;
    background-image: linear-gradient(
        0deg,
        hsl(240deg 73% 65%) 0%,
        hsl(244deg 73% 65%) 11%,
        hsl(247deg 73% 65%) 22%,
        hsl(251deg 74% 65%) 33%,
        hsl(255deg 74% 65%) 44%,
        hsl(258deg 74% 65%) 56%,
        hsl(262deg 74% 65%) 67%,
        hsl(266deg 75% 66%) 78%,
        hsl(270deg 75% 66%) 89%,
        hsl(273deg 75% 66%) 100%
); 
}

.card{
    background-color: #FFF;
    margin:5rem .5rem 1rem .5rem;
    border-radius: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    max-width: 80%;
    width: 80%;
    display: grid;
    grid-template-rows: 8rem 1fr;

}

.pic__container{
    position: relative;
    border: 0;
    margin-top: .25rem;
}

.image_container{
    background: url(/images/illustration-woman-online-mobile.svg)no-repeat top center ,
    url(/images/bg-pattern-mobile.svg)no-repeat top 9rem center ;
    background-size: 20rem ;
    position: absolute;
    width:100%;
    height:18rem;
    transform: translateY(-63%);
}

h1{
    text-align: center;
    font-weight: 700;
}

@media only screen and (min-width: 900px) {
   .card{
    margin-top: 1rem;
    display:inline grid;
    justify-content: space-between;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "picture   faqs";
    }

    .pic__container{
        grid-area: picture;
    }

   .text__container{
        grid-area: faqs;
        padding:5rem 0rem;
    }

    h1{
        text-align: left;
    }

    .image_container{
        background: url(/images/illustration-woman-online-desktop.svg)no-repeat center right,
        url(/images/bg-pattern-desktop.svg )no-repeat  center  right ;
        top:60%;
        left:-23%;
        width:100%;
        height: 100%;
    }

    
  

  }